html, body {
  height: 100%;
}

.nav-l{
  font-family: 'Nanum Myeongjo', serif;
  font-size: large;
}

.container1{
  height: 100%;
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    font-display: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-c{
  font-display: white;
  font-size: 50px;
  font-family: sans-serif;
  justify-content: flex-end;
  

}
.para-e{
  font-family: cursive;
  font-size: 28px;
  justify-content: center;
  align-items: center;
  
}